html, body {
    overflow: hidden;
}

.container{
    /* background-color: #eee;  */
    width: 600px !important; 
    /* text-align: center; */
    margin-top: 130px;
}
.card{
    margin-right: auto;
    margin-left: auto;
    width: 30rem !important;
}
#first{
    /* display: none !important; */
    position: absolute !important;
    left: 50% !important;
    margin-left: -15rem !important;
    top: 50% !important;
    margin-top: -15rem !important;
    z-index: 1 !important;
}

#second{
    display: none;
    position: absolute !important;
    left: 50% !important;
    margin-left: -15rem !important;
    top: 50% !important;
    margin-top: -15rem !important;
    z-index: 2 !important;
}
#third{
    display: none;
    position: absolute !important;
    left: 50% !important;
    margin-left: -15rem !important;
    top: 50% !important;
    margin-top: -15rem !important;
    z-index: 3 !important;
}
#fourth{
    display: none;
    position: absolute !important;
    left: 50% !important;
    margin-left: -15rem !important;
    top: 50% !important;
    margin-top: -15rem !important;
    z-index: 4 !important;
}
#fifth{
    display: none;
    position: absolute !important;
    left: 50% !important;
    margin-left: -15rem !important;
    top: 50% !important;
    margin-top: -15rem !important;
    z-index: 5 !important;
}
#sixth{
    display: none;
    position: absolute !important;
    left: 50% !important;
    margin-left: -15rem !important;
    top: 50% !important;
    margin-top: -15rem !important;
    z-index: 6 !important;
}
#seventh{
    display: none;
    position: absolute !important;
    left: 50% !important;
    margin-left: -15rem !important;
    top: 50% !important;
    margin-top: -15rem !important;
    z-index: 7 !important;
}
#eighth{
    display: none;
    position: absolute !important;
    left: 50% !important;
    margin-left: -15rem !important;
    top: 50% !important;
    margin-top: -15rem !important;
    z-index: 8 !important;
}
#ninth{
    display: none;
    position: absolute !important;
    left: 50% !important;
    margin-left: -15rem !important;
    top: 50% !important;
    margin-top: -15rem !important;
    z-index: 9 !important;
}
#tenth{
    display: none;
    position: absolute !important;
    left: 50% !important;
    margin-left: -15rem !important;
    top: 50% !important;
    margin-top: -15rem !important;
    z-index: 10 !important;
}
.btn{
    display: block;
    width: 120px !important;
    margin-bottom: 10px !important; 
    margin-right: auto !important;
    margin-left: auto !important;
}
@media screen and (max-width: 480px) {
    .card {
      width: 100% !important;
      margin-left: 0% !important;
    }
  }